<div class="p">
    <div class="corie">
        <h1>Corie McLaughlin</h1>
        <hr>
        <p>Full Stack Software Developer</p>
    </div>
    <canvas></canvas>

</div>
<div id="nav">
    <ul>
      <li><a href="">About Me</a></li>
      <li><a href="">Skills</a></li>
      <li><a href="">Projects</a></li>
      <li><a href="">Contact</a></li>
    </ul>
</div>
<div id="about"></div>
<div class="me">
    <div class="forColor">
        <h1>A little about me...</h1>
        <div class="pic">
            <img src="assets/images/5.6.gif" alt="Corie McLaughlin">
        </div>
        <div class="info">
            
            <h3>I am an outgoing, upbeat, and passionate Full Stack Developer in the Seattle area.</h3>
            <h1>JAVA IS MY LOVE</h1>
            <p>BUT, when I am not coding, I am the mother of two amazing little monsters, I powerlifter currently ranked fourth in the state, and a photography junkie. </p>
        </div>
    </div>
</div>
<div class="height">

    
</div>