.p{
    position: relative;
}

canvas{
    background: rgb(63, 57, 77);
}

.corie{
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    letter-spacing: 5px;
    top: 32%;
    font-size: 120%;  
}

.corie hr{
    width: 25%;  
    margin-left: 37%;
}

.corie p {
     margin-top: 10px;
}

.corie :not(hr) {
    text-shadow: 2px 2px 8px #170e22;
}
#nav{
    top: -50px;
    position: fixed;
    width: 100%;
    text-align: right; 
    z-index: 900;
    background: rgb(113, 109, 139);
    padding: 14px 0px;
    /* margin-top: -7px; */
    
}

#nav li{
    display: inline;
}

#nav li a{
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    color: white;
}
#nav li a:hover{
    background: #ffffff6b;
    color: rgb(8, 61, 56);
}

.me{
    margin-top: -9px;
    padding: 40px;
    background-image: linear-gradient(
        to right bottom, 
        rgba(125, 84, 158, 0.397),
        rgba(102, 121, 185, 0.425)),
        url("/assets/images/full-bloom.png");
        
}
.skill{
    height: 1500px;
}
.skill img{
    height: 40px;
    padding: 10px;
}
.logo1, .logo2{
    text-align: center;
}


@media only screen and (max-width: 900px){
    .corie hr{
        width: 39%;  
        margin-left: 30%;
    }
    #nav{
        text-align: center;
        /* box-shadow: 6px 14px 84px -12px #000000; */
    }
    .pic{
        text-align: center;
        margin-top: 10px; 
        
    }
    .pic img{
        /* rgba(97, 143, 170, 0.808) */
        width: 200px;
        padding: 13px;
        border-radius: 400px; 
        border: 10px solid rgba(97, 143, 170, 0.582);
    }

    .me h1{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #372350;
        
    }
    .info h1{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px; 
        color: #372350;
        
    }
    .info h3 {
        margin-top: 10px;
        text-align: justify;
        color: #372350;
    }

    .info p{
        text-align: justify;
        color: #372350;
    }
    .img1, .img2, .img3{
        display: none;
    }
    .large{
        display: none;
    }
    
}
@media only screen and (min-width: 900px){
    .pic, .show{
        display: none;
    }
    .me{
        display: flex;
        flex-direction: row;
        padding-top: 80px;
        padding-bottom: 100px; 
    }
    .pic2{
        width: 60%;
        position: relative;
        /* border: 2px solid black; */
    }
    .info, .pic2{
        display: inline-block;
        vertical-align: top;
    }
    .info{
        width: 40%;
        padding: 0px;
    }
    
    .info h1{
        text-align: center;
        margin: 20px 0px 20px 0px;
    }
    .large{
        margin: 0px 0px 20px 0px;
        font-size: 40px;
        border-bottom: 2px solid  #372350;
    }
    .info p{
        text-align: justify;
    }
    .img1, .img2, .img3{
        margin-top: 50px;
        position: absolute;
        width:225px;
        border-radius: 300px;
        padding: 13px;
        border-radius: 400px; 
        border: 10px solid rgba(97, 143, 170, 0.582);
    }
    .img1{
        top: 0%;
        left: 6%;
    }
    .img2{
        top: 0%;
        left: 62%;
    }
    .img3{
        top: 0%;
        left: 34%;
        
    }
    .img1:hover, .img2:hover, .img3:hover{
        box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
        border: 10px solid rgba(255, 255, 255);
        z-index: 10;
        width: 250px;
        margin-top: 10px;
        background: rgba(255, 255, 255, 0.479);
    }
    .img1:hover{
        margin-left: 16px; 
    }
    .img2:hover{
        margin-left: -35px;
    }
    .img3:hover{
        margin-left: -10px;

    }
    
}