.some{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.p{
    position: relative;
    top: 30px;
}

canvas{
    background: rgb(63, 57, 77);
}

.corie{
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    letter-spacing: 5px;
    top: 34%;
    font-size: 120%;  
}

.corie hr{
    width: 25%;  
    margin-left: 37%;
}

.corie p {
     margin-top: 10px;
}

.corie :not(hr) {
    text-shadow: 2px 2px 8px #170e22;
}
#nav{
    top: 0;
    position: fixed;
    /* display: none; */
    width: 100%;
    text-align: right; 
    z-index: 900;
    background: rgb(113, 109, 139);
    padding: 14px 0px; 
}

#nav li{
    display: inline;
}

#nav li a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
#nav li a:hover{
    background: #ffffff6b;
    color: rgb(8, 61, 56);
}

#me{
    margin-top: -9px;
    padding: 40px;
    background-image: linear-gradient(
        to right bottom, 
        rgba(125, 84, 158, 0.397),
        rgba(102, 121, 185, 0.425)),
        url("/assets/images/full-bloom.png");
        
}
#skill{
    padding: 55px 0px 91px 0px;
    /* height: 1500px; */
    border-top: 10px 10px solid #372350;
    background-image: linear-gradient(
        to bottom, 
        #372350be,
        rgba(57, 67, 102, 0.534)),
        url("/assets/images/seigaiha.png");   
}
#skill img{
    height: 40px;
    padding: 10px;
}
#skill h1{
    text-align: center;
    color: white;
    text-shadow: 2px 1px 8px rgb(12, 9, 9);
    margin-bottom: 40px;
}
.logo1, .logo2{
    text-align: center;
}
#order{
    display: flex;
    justify-content: space-evenly;
}
.set{
    width: 200px;
    display: block;
    /* vertical-align: top; */
    color: white;
    text-align: center;
}
.set p {
    font-size: 18px;
    text-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
    width: 100%;
}

fieldset{
   
    border-radius: 8px;
    border: 3px solid white;
    padding: 10px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
    background-image: linear-gradient(
        to right bottom, 
        rgba(39, 10, 66, 0.507),
        rgba(24, 38, 87, 0.651)),
        url("/assets/images/full-bloom.png");
}

legend{
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 0px 5px; 
    text-shadow: 2px 1px 8px rgb(12, 9, 9);
}
#projects{
    padding: 30px 40px;
    /* height: 1800px; */

    background-image: linear-gradient(
        to left bottom, 
        rgba(102, 121, 185, 0.425),
        rgba(125, 84, 158, 0.397)),
        url("/assets/images/full-bloom.png");
    
}
.project{
    background: white;
    margin: 30px 0;
    padding: 20px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
}
.projectLarge, .projectSmall{
    background: white;
    margin: 20px 0px;
    padding: 20px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
    display: none;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
}

.pText{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    
}
.pimg{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.projectLarge .pimg{
    text-align: center;
}
.projectLarge .pText{
    text-align: left;
}
.pimg img{
    width: 300px;
    padding: 10px;
    
}
#contact{
    padding: 20px;
    background-image: linear-gradient(
        to bottom, 
        rgba(57, 67, 102, 0.534),
        rgba(57, 67, 102, 0.534)),
        url("/assets/images/seigaiha.png");
}
#contact h1{
    text-align: center;
    color: white;
    text-shadow: 2px 1px 8px rgb(12, 9, 9);
    margin-bottom: 20px;
}
.emailtyped{
    display: inline-block;
    vertical-align: top;
    margin-top: 13px;
    margin-left: 8px;
}
a.linkedin img, a.github img, a.email img{
    width:50px;
    margin: 0px 10px 30px 10px;
}
.copyright{
    float: right;
    margin-right: 10px;
}
/* smallscreen */
@media only screen and (max-width: 900px){
    .corie hr{
        width: 39%;  
        margin-left: 30%;
    }
    #nav{
        text-align: center;
        /* box-shadow: 6px 14px 84px -12px #000000; */
    }
    .pic{
        text-align: center;
        margin-top: 10px; 
        
    }
    .pic img{
        /* rgba(97, 143, 170, 0.808) */
        width: 200px;
        padding: 13px;
        border-radius: 400px; 
        border: 10px solid rgba(97, 143, 170, 0.582);
    }

    #me h1{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #372350;
        
    }
    .info h1{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px; 
        color: #372350;
        
    }
    .info h3 {
        margin-top: 10px;
        text-align: justify;
        color: #372350;
    }

    .info p{
        text-align: justify;
        color: #372350;
        margin: 10px 15px;
    }
    .img1, .img2, .img3{
        display: none;
    }
    .large{
        display: none;
    }
    #projects{
        height: 100px;
        width: 100%;
    }
    #skill{
        display: block;
    }
    .set{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    fieldset{
        width: 70%;
        margin: 10px 0px;
        padding: 20px 0px;
    }
    .set p{
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 35px;
    }
    legend{
        text-shadow: 2px 1px 8px rgb(12, 9, 9);
        font-size: 30px;
    }
    #projects{
        width: unset;
        height: unset;
        padding: 15px;
    }
    .pText, .pimg{
        display: block;
        width: 100%;
    }
    .pimg img{
        width: 200px;
    }
    .projectSmall, .project{
        display: inherit;
        clip-path: none;
        box-shadow: none;
        margin: 15px 0px;
        background: rgba(255, 255, 255, 0.753);     
        text-align: center; 
    }
    #contact{
        text-align: center;
    }
    .emailtyped{
       display: unset;
    }
    a.linkedin img, a.github img, a.email img{
        width:50px;
        margin: 0px 10px 20px 10px;
    }
    .copyright{
        float: none;
        margin: none;
    }
}
/* middle */
@media only screen and (max-width: 1040px){
    #order{
        display: block;
    }
    .set{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    fieldset{
        width: 70%;
        margin: 10px 0px;
        padding: 20px 0px;
    }
    .set p{
        font-size: 25px;
        letter-spacing: 2px;
        line-height: 35px;
    }
    legend{
        text-shadow: 2px 1px 8px rgb(12, 9, 9);
        font-size: 35px;
    }
    .pic2 .img1, .pic2 .img2, .pic2 .img3{
        top: 15%;
    }
    #contact{
        text-align: center;
    }
    .emailtyped{
       display: block;
       margin-top: 0px;
    }
    a.linkedin img, a.github img, a.email img{
        width:50px;
        margin: 0px 10px 20px 10px;
    }
    .copyright{
        float: none;
        margin: none;
    }
}

/* large screen */
@media only screen and (min-width: 900px){
    .pic, .show{
        display: none;
    }
    #me{
        display: flex;
        flex-direction: row;
        padding-top: 80px;
        padding-bottom: 80px; 
    }
    .pic2{
        width: 60%;
        position: relative;
        /* margin-top: 2% */
        /* border: 2px solid black; */
    }
    .info, .pic2{
        display: inline-block;
        vertical-align: top;
    }
    .info{
        width: 40%;
        padding: 0px;
    }
    
    .info h1{
        text-align: center;
        margin: 20px 0px 20px 0px;
    }
    .large{
        margin: 0px 0px 20px 0px;
        font-size: 40px;
        border-bottom: 2px solid  #372350;
    }
    .info p{
        text-align: justify;
        margin-bottom: 15px;
    }
    .img1, .img2, .img3{
        margin-top: 50px;
        position: absolute;
        width:225px;
        border-radius: 300px;
        padding: 13px;
        border-radius: 400px; 
        border: 10px solid rgba(97, 143, 170, 0.582);
        transition: width 1s, margin-top 1s, border 1s;;
    }
    .img1{
        top: 2%;
        left: 6%;
    }
    .img2{
        top: 2%;
        left: 62%;
    }
    .img3{
        top: 2%;
        left: 34%;  
    }
    .img1:hover, .img2:hover, .img3:hover{
        box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
        border: 10px solid rgba(255, 255, 255);
        z-index: 10;
        width: 250px;
        margin-top: 10px;
        background: rgba(255, 255, 255, 0.479);
        transition: width 1s, margin-top 1s, border 1s;
    }
    .projectLarge{
        display: inherit;    
    }
}

