<div class="p">
    <div class="corie">
        <h1>Corie McLaughlin</h1>
        <hr>
        <p>Full Stack Software Developer</p>
    </div>
    <canvas></canvas>
</div>
<div id="nav">
    <ul>
      <li><a href="">About Me</a></li>
      <li><a href="">Skills</a></li>
      <li><a href="">Projects</a></li>
      <li><a href="">Contact</a></li>
    </ul>
</div>
<div id="about"></div>
<div class="me">
    <h1 class="show">A little about me...</h1>
    <!-- hidden above 800px -->
    <div class="pic">
        <img src="assets/images/5.6.gif" alt="Corie McLaughlin">
    </div>
    <div class="info">  
        <h1 class="large">A little about me...</h1>  
        <h3>I am an outgoing, upbeat, and passionate Full Stack Developer in the Seattle area. While I have greatly enjoyed all of the lanuages I have learned, I must say </h3>
        <h1>JAVA IS MY LOVE!</h1>
        <p>BUT, when I am not coding, I am the mother of two amazing little monsters, I am a competitive powerlifter currently ranked fourth in the state, and a photography junkie. </p>

    </div>
    <div class="pic2">
        <img class="img1" src="assets/images/5.6.gif" alt="Corie McLaughlin">
        <img class="img2" src="assets/images/suvi.gif" alt="Corie McLaughlin">
        <img class="img3" src="assets/images/will.gif" alt="Corie McLaughlin">
    </div>
</div>  
<div id="skills"></div>
<div class="skill">
    <h1>My Skills</h1>
    
    <div class="logo1">
        <img id="icon1" src="assets/icons/1.png" alt="HTML, CSS, JS">
        <img id="icon2" src="assets/icons/11.png" alt="Java 8">
        <img id="icon3" src="assets/icons/9.png" alt="Spring">
        <img id="icon4" src="assets/icons/6.png" alt="Angular 6">
        <img id="icon5" src="assets/icons/5.png" alt="Node.js">
        <img id="icon6" src="assets/icons/16.png" alt="Python 2">
        <img id="icon7" src="assets/icons/15.png" alt="Django">
    </div>
    <div class="logo2">
        <img id="icon8" src="assets/icons/10.png" alt="MySQL">
        <img id="icon9" src="assets/icons/7.png" alt="GitHub">
        <img id="icon10" src="assets/icons/8.png" alt="Git">
        <img id="icon11" src="assets/icons/13.png" alt="SQLite">
        <img id="icon12" src="assets/icons/14.png" alt="MongoDB">     
    </div>
</div>