
<div id="nav">
        <ul>
          <li><a (click)="scrollToElement('me')" >About Me</a></li>
          <li><a (click)="scrollToElement('skill')">Skills</a></li>
          <li><a (click)="scrollToElement('projects')">Projects</a></li>
          <li><a (click)="scrollToElement('contact')">Contact</a></li>
        </ul>
</div>
<div class="p">
    <div class="corie">
        <h1>Corie McLaughlin</h1>
        <hr>
        <p>Full Stack Software Developer</p>
    </div>
    <canvas></canvas>
</div>

<!-- <div id="about"></div> -->
<div id="me">
    <div class="some">
        <h1 class="show">A little about me...</h1>
        <!-- hidden above 800px -->
        <div class="pic">
            <img src="assets/images/5.6.gif" alt="Corie McLaughlin">
        </div>
        <div class="info">  
            <h1 class="large">A little about me...</h1>  
            <p>I am an outgoing, upbeat, and passionate Full Stack Developer in the Seattle area. I've graduated from a full-time intensive Full-Stack coding bootcamp, and have found that I thrive on the challenges and complex problem solving that came with such a vibrant learning enviornment. Suprisingly, Java has become one of my absolute favorite languages due to it's mathmatical and minimalistic nature. I'm excited to find a position where I can continue growing my own skillset and work on a team alongside talented tech professionals.</p>
            <p>When my eyes aren't scanning stackoverflow or the terminal, my hands are full with two amazing little monsters. They are what inspires me most and keeps me ambitious so I can be an example of perserverance and stregth for them. I am also a competitive powerlifter currently ranked fourth in the state, and a photography junkie with an eye for dramatic lighting.</p>

        </div>
        <div class="pic2">
            <img class="img1" src="assets/images/5.6.gif" alt="Corie McLaughlin">
            <img class="img2" src="assets/images/suvi.gif" alt="Corie McLaughlin">
            <img class="img3" src="assets/images/will.gif" alt="Corie McLaughlin">
        </div>
    </div>
</div>  
<div id="skill">
    <div class="some">
        <h1>- SKILLS -</h1>
        <p></p>
        <div id="order">
            <div *ngFor="let idx of skillsList" class="set">
                <fieldset *ngFor="let key of Object.keys(idx)">
                    <legend>{{key}}</legend>
                        <p *ngFor="let item of idx[key]">{{item}}</p>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div id="projects">
    <div class="some">
        <div class="project">
            <div class="pText">
                <h1>Title of project 1</h1>
                <p>This is all about project one</p>
                <a href="">Click here to have a look</a>
            </div>
            <div class="pimg">
                <img src="assets/images/pic.png" alt="">
            </div>
        </div>
        <div class="projectSmall">
            <div class="pText">
                <h1>Title of project 2</h1>
                <p>This is all about project two</p>
                <a href="">Click here to have a look</a>
            </div>
            <div class="pimg">
                <img src="assets/images/pic.png" alt="">
            </div>
        </div>
        <div class="projectLarge">
                <div class="pimg">
                    <img src="assets/images/pic.png" alt="">
                </div>
                <div class="pText">
                    <h1>Title of project 2</h1>
                    <p>This is all about project two</p>
                    <a href="">Click here to have a look</a>
                </div>
            </div>
        <div class="project">
            <div class="pText">
                <h1>Title of project 3</h1>
                <p>This is all about project three</p>
                <a href="">Click here to have a look</a>
            </div>
            <div class="pimg">
                <img src="assets/images/pic.png" alt="">
            </div>
        </div>
    </div>
</div>
<div id="contact">
    <h1>- Contact -</h1>
    <div class="icons">
        <a class="linkedin" target="_blank" href="https://www.linkedin.com/in/corie-mclaughlin/"><img src="/assets/icons/linkedin3.png" alt=""></a>
        <a class="github" href="https://github.com/cmac88"><img src="/assets/icons/github.png" alt=""></a>
        <a class="email" href="mailto:cmclaughlin88@gmail.com"><img src="/assets/icons/email.png" alt=""></a>
        <p class="emailtyped">cmclaughlin88@gmail.com</p>
        <p class="copyright" >© Copyright 2018. All Rights Reserved.</p>
    </div>

</div>